/* copied from 030 */
*{margin:0;padding:0}
html,body{width:100%;height:100%;overflow-x:hidden;overflow-y:hidden}
body{display:flex;justify-content:center;align-items:center;filter:contrast(120%);background-color:black;position:relative}
.container{width:100%;height:99.74%;background-image:radial-gradient(2000px at 10% 130%,rgba(33,39,80,1) 10%,#020409 100%)}
.content{width:100% auto;height:100% auto}
#universe{width:100% auto;height:100% auto}
#footer{position:absolute;bottom:0%;height:300px;width:100%}
#scene{height:100%;position:absolute;left:50%;margin-left:-768px}
a{text-decoration:none;color:rgba(200,220,255,1);opacity:.4;transition:opacity .4s ease}
a:hover{opacity:1}
.txt{color:hsla(0,0%,0%,0);text-shadow:#fff 0 0 10px;transition:text-shadow 2s cubic-bezier(0,1,0,1)}
@-moz-document url-prefix(){.txt{text-shadow:#fff 0 0 20px}}
#canvas{margin:0 auto}
